# Ignore Python venv and cache
venv/
__pycache__/
*.pyc

# Ignore environment and logs
.env
*.log

# Ignore IDE/editor files
.vscode/
*.code-workspace

# Ignore node_modules if using any frontend packages
node_modules/